/* http://phpbego.wordpress.com */
.container {
	width: 970px;
	margin: auto;
	text-align: center;
}
.tengah {
	text-align: left;
}

.font{
    font-family: Arial, sans-serif;
}
.kanan{
	position: absolute;
    top: 570px;
    right: 200;	
	
}
table {
    border-collapse: collapse;

}


.garis{
    border: 0px solid black;
    
}
